
# Node.js
node_modules/
dist/
*.log

# NestJS
.env
.env.* # Si usas varios archivos de configuración como .env.development
.idea/ # Configuración de IDEs como IntelliJ/WebStorm
.vscode/ # Configuración de VSCode
.DS_Store # Archivos de macOS

# TypeScript
*.tsbuildinfo

# Sistema operativo
Thumbs.db # Archivos de Windows
*.swp     # Archivos temporales de edición de texto

# Otros
coverage/ # Informes de cobertura de tests
Textil_Investigation/

